<div class="movie-details">
  <button mat-button class="back-btn" [routerLink]="['/dashboard']">Back to Dashboard</button>
  <div *ngIf="isLoading" class="loading">
    <mat-spinner ></mat-spinner>
  </div>

  <div *ngIf="!isLoading && !isError">
    <div class="movie-data">
      <div class="left-panel">
        <img [src]="movie.largeimage"/>
      </div>
      <div class="right-panel">
        <div class="item {{prop}}" *ngFor="let prop of properties">
          <div class="title">{{prop}}</div>
          <div class="value">{{movie[prop]}}</div>
        </div>
      </div>

    </div>
    <div class="synopsis" [innerHTML]="movie.synopsis"></div>
  </div>

</div>

